/*.button{
    -fx-color: #ffffff;
    -fx-background-color: #286090;
    -fx-border-color: #204d74;
    -fx-text-fill: #ffffff;
}
.menuBar{
    -fx-background-color: #286090;
}*/

.root {

     -dark: rgb(47.0, 52.0, 57.0);
    -fx-font-family: 'Helvetica Neue';
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-disabled-opacity: 0.6;

    -flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(171.0,203.0,198.0);
    -darker-blue: rgb(63,0,108,0,127,0);

}

.toggle-button, .button{
    -fx-background-color: -flatter-blue;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-border-width: 0.0;
    -fx-padding: 0.7em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-button:focused,
.button:focused,
.button:default:focused {
       -fx-background-color: derive(-flatter-blue, 50.0%);
}

.toggle-button:focused:selected {
       -fx-background-color: derive(-flatter-blue, 50.0%), derive(-flatter-blue, -20.0%);
       -fx-background-insets: 0.0, 0.2em;
}

.toggle-button:armed,
.toggle-button:selected,
.button:armed,
.button:default:armed {
     -fx-background-color: derive(-flatter-blue, -10.0%);
}
*/